{% extends "quiz/base.html" %}
{% block content %}
<h1>Quiz: {{ quiz.title }}</h1>
{% if quiz.description %}
<h4>Quiz Description: {{ quiz.description }}</h4>
{% endif %}
<hr>
{% if size == 0 %}
<h4>You have not created any questions yet. Create a question
    <a href="{% url 'question-add' pk%}">now</a>.
</h4>
{% else %}
<h3><a class="btn btn-primary btn mt-2 mb-3" href="{%url 'question-add' pk%}">Add Question</a></h3>
{% for question in questions %}

<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{%url 'question-edit' question.pk%}">Edit</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{%url 'question-delete' question.pk%}">Delete</a>
        </div>

        <div class="table-responsive">
            <table class="table table-hover table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Parameter</th>
                        <th scope="col">Value</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p,v in question.TypedQuestion.description_dict.items %}
                    <tr>
                        <td>{{ p }}</td>
                        <td>{{ v }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</article>
{% endfor %}
{% endif %}
{% endblock content %}